dns:
  nameserver: '8.8.8.8'
apache:
  ip: '192.168.0.1'
  config: '/usr/local/etc/apache22/httpd.conf'
  base_path: '/usr/local'
  mass_virtual_hosting_path: '/usr/local/www/apache22/vhosts/'
postfix:
  ip: '192.168.0.2'
  mysql:
    host: localhost
    user: root
    password: secret
    database: postfix
